@import url("../root.css");

@import url("../loader.css");
@import url("../scrollbar.css");
@import url("../header.css");

.gallery-section {
	position: relative;
	background: #000;

	overflow: hidden;

	padding: 8rem 0;
}

.gallery-section .heading {
	position: relative;
	z-index: 2;

	font-size: 6rem;
	color: rgb(var(--clr-primary-bright));
	text-transform: uppercase;
	font-family: "Gilroy-Black", sans-serif;
	text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.3),
		10px 10px 1px rgba(0, 0, 0, 0.1);

	margin-top: 5rem 0;

	width: 100%;
	text-align: center;
}

.faded-text {
	position: absolute;
	left: 0;
	top: 150px;
	width: 100%;
	text-align: center;
	font-family: "Gilroy-Bold", sans-serif;
	color: transparent;
	pointer-events: none;

	animation: run 30s linear infinite alternate;
}

@keyframes run {
	0% {
		left: -20%;
	}
	50% {
		left: 0%;
	}
	100% {
		left: 20%;
	}
}

.faded-text .f-text {
	display: block;
	text-transform: uppercase;
}

.faded-text .f-text span {
	display: block;
	font-size: 12rem;
	text-wrap: nowrap;
	-webkit-text-stroke: 5px rgb(var(--clr-secondary), 0.07);
}

.image-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.image-wrapper .gal-in {
	padding: 0.5rem;
	cursor: pointer;
}

.image-wrapper .gal-in .gal-fig {
	height: 200px;
	width: 300px;
	margin: 0;
	overflow: hidden;
}

.image-wrapper .gal-in .gal-fig .gal-img {
	height: 200px;
	width: 300px;
	object-fit: cover;
	transform: scale(1.1);
	opacity: 0.8;
	transition: 0.5s;
}

.image-wrapper .gal-in .gal-fig .gal-img:hover {
	transform: scale(1);
	opacity: 1;
}

@media only screen and (max-width: 720px) {
	.gallery-section .heading {
		font-size: 3rem;
	}

	.faded-text {
		top: 110px;
	}

	.faded-text .f-text span {
		font-size: 8rem;
	}

	.image-wrapper .gal-in .gal-fig,
	.image-wrapper .gal-in .gal-fig .gal-img {
		height: 230px;
		width: 345px;
	}
}
