@import url("../root.css");

@import url("../loader.css");
@import url("../scrollbar.css");
@import url("../header.css");
@import url("../headings.css");

.gallery-section {
	position: relative;
	background: #000;

	overflow: hidden;

	padding: 8rem 0;
}

.image-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.image-wrapper .gal-in {
	padding: 0.5rem;
	cursor: pointer;
}

.image-wrapper .gal-in .gal-fig {
	height: 200px;
	width: 300px;
	margin: 0;
	overflow: hidden;
}

.image-wrapper .gal-in .gal-fig .gal-img {
	height: 200px;
	width: 300px;
	object-fit: cover;
	transform: scale(1.1);
	opacity: 0.8;
	transition: 0.5s;
}

.image-wrapper .gal-in .gal-fig .gal-img:hover {
	transform: scale(1);
	opacity: 1;
}

@media only screen and (max-width: 720px) {
	.image-wrapper .gal-in .gal-fig,
	.image-wrapper .gal-in .gal-fig .gal-img {
		height: 230px;
		width: 345px;
	}
}
