.about-section {
	display: flex;
	margin-top: 70px;
}

.about-section .text-column {
	padding: 5%;
	max-width: 45%;
}

.about-section .sec-title .sub-title {
	position: relative;
	font-size: 1.2rem;
	line-height: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(var(--clr-secondary-bright));
	letter-spacing: 3px;
	margin-bottom: 10px;
	padding-left: 85px;
}

.about-section .sec-title .sub-title::before {
	content: "";
	position: absolute;
	top: 0.9rem;
	left: 0;
	margin-right: 15px;
	width: 70px;
	height: 3px;
	background-color: rgb(var(--clr-secondary-bright));
}

.about-section .text-column .inner {
	display: block;
	top: 50px;
	padding-right: 20px;
	padding-bottom: 120px;
}

.about-section .text-column .sec-title h1 {
	font-size: 3.4rem;
	line-height: 1.2em;
	color: rgb(var(--clr-primary-bright));
	font-weight: 900;
	margin-bottom: 0;
	text-transform: uppercase;
	font-family: "Gilroy-Black", sans-serif;
	text-shadow: 3px 3px 1px rgba(var(--clr-primary-bright), 0.3),
		10px 10px 1px rgba(0, 0, 0, 0.1);
}

.about-section .text-column .sec-title .lower-text {
	display: block;
	font-size: 1.1rem;
	line-height: 1.3em;
	color: rgb(var(--clr-primary-bright));
	padding: 15px 0;
	margin: 15px 0;
}

.about-section .image-column .inner {
	display: block;
	padding: 1.2rem;
}

.about-section .image-column .image {
	display: block;
	overflow: hidden;
}

.about-section .image-column .image img {
	display: block;
	width: 100%;
	transition: 0.5s;
}

.about-section .image-column .image .over-link {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	color: rgb(var(--clr-primary-bright));
	background: rgba(0, 0, 0, 0);
	transition: 0.3s;
	z-index: 1;
}

.about-section .image-column .image:hover img {
	transform: scale(1.08);
}

.about-section .image-column .image .over-link:hover {
	background: rgba(0, 0, 0, 0.6);
}

.about-section .image-column .image .over-link .icon {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 110px;
	height: 110px;
	line-height: 110px;
	transform: translate(-50%, -50%);
}

.about-section .image-column .image .over-link .icon .iconpath {
	stroke: rgb(var(--clr-primary-dark));
	transition: all 0.3s;
}

.about-section .image-column .image .over-link:hover .icon .iconpath {
	stroke: rgb(var(--clr-secondary-bright));
}

@media only screen and (max-width: 720px) {
	.about-section {
		flex-direction: column;
	}

	.about-section .text-column {
		max-width: 100%;
	}

	.about-section .text-column .sec-title h1 {
		font-size: 2rem;
		margin: 1.5rem 0;
	}

	.about-section .sec-title .sub-title {
		padding-left: 0;
	}

	.about-section .sec-title .sub-title::before {
		display: none;
	}

	.about-section .text-column .sec-title .lower-text {
		padding: 0;
		margin: 0;
	}

	.about-section .image-column .image {
		margin: 0;
	}
}
