.banner-section {
	background-color: rgb(var(--clr-primary-bg));

	display: flex;
	justify-content: space-evenly;
	align-items: center;

	min-height: 100vh;
	padding: 8rem 3rem;
}

#particles {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

.banner-one .content-box .inner {
	display: block;
	width: 100%;
	text-align: center;
}

.banner-one .content-box .services-title {
	display: block;
	font-size: 1.2rem;
	line-height: 1.5em;
	color: rgba(var(--clr-primary-bright), 0.7);
	font-weight: 600;
	text-transform: uppercase;
}

.banner-one .content-box .line {
	position: relative;
	display: block;
	padding-top: 1.8rem;
	margin-top: 2rem;
	text-transform: uppercase;
}

.banner-one .content-box .line::before {
	content: "";
	position: absolute;
	left: 50%;
	width: 15rem;
	margin-left: -7rem;
	top: 0px;
	height: 2px;
	background: rgb(var(--clr-secondary));
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 0%,
		rgb(var(--clr-secondary)) 50%,
		rgba(255, 255, 255, 0) 100%
	);
}

.banner-one .content-box h1 {
	font-size: 3.2rem;
	line-height: 1.2em;
	color: rgb(var(--clr-primary-bright));
	font-weight: 900;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-family: "Gilroy-Black", sans-serif;
	text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.3),
		10px 10px 1px rgba(0, 0, 0, 0.1);
}

.banner-one .content-box .text {
	display: block;
	font-size: 1.2rem;
	line-height: 1.7em;
	color: rgb(var(--clr-primary-bright));
	font-weight: 400;
}

.mlogo img {
	width: 25rem;
}

@media only screen and (max-width: 720px) {
	.banner-section {
		flex-direction: column;
	}

	.banner-one .content-box h1 {
		font-size: 1.8rem;
	}

	.banner-one .content-box .services-title {
		font-size: 0.8rem;
	}

	.mlogo img {
		width: 20rem;
	}
}
