.events-section {
	position: relative;
	padding: 100px 0px;

	overflow: hidden;
}

.events-section .sec-title {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.events-section .sec-title .sub-title {
	position: relative;
	font-size: 1.25rem;
	line-height: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	color: rgb(var(--clr-secondary-bright));
	letter-spacing: 3px;

	margin: 0 auto;
}

.events-section .sec-title .sub-title::before,
.events-section .sec-title .sub-title::after {
	content: "";
	display: inline-block;
	background-color: rgb(var(--clr-secondary-bright));
	height: 3px;
	width: 70px;

	margin: 5px;
}

.events-section .sec-title .sub-title::before {
	margin-right: 15px;
}

.events-section .sec-title .sub-title::after {
	margin-left: 15px;
}

.events-section .sec-title h2 {
	font-size: 4rem;
	line-height: 2em;
	color: rgb(var(--clr-primary-bright));
	font-weight: 400;
	text-transform: uppercase;
	font-family: "Gilroy-Black", sans-serif;
	text-shadow: 3px 3px 1px rgba(255, 255, 255, 0.3),
		10px 10px 1px rgba(0, 0, 0, 0.1);

	margin: 0;
}

.events-section .event-container {
	display: flex;
	margin: 4.5rem 2rem;
}

.events-section .event-container .single-event-item {
	overflow: hidden;

	position: relative;

	display: flex;
	flex-direction: column;

	min-height: 25rem;

	width: 100%;
	height: 100%;

	margin: 1.5rem;

	border: 0.2rem solid rgb(var(--clr-secondary));
	border-radius: 20px;

	transition: 0.2s;
}

.events-section .event-container .single-event-item .event-img,
.events-section .event-container .single-event-item .event-img img {
	height: 15.5rem;
	width: 100%;
	object-fit: cover;
}

.events-section .event-container .single-event-item .event-content {
	height: 10rem;

	display: flex;
}

.events-section .event-container .single-event-item .event-content .event-date {
	display: flex;
	align-items: center;
	text-align: center;

	background-color: rgb(var(--clr-secondary));
	color: rgb(var(--clr-primary-dark));

	height: 100%;
	width: 8rem;
	padding: 1rem;

	transition: 0.2s;
}

.events-section
	.event-container
	.single-event-item
	.event-content
	.event-date
	span {
	display: block;
	font-size: 1.5rem;
}

.events-section .event-container .single-event-item .event-content .event-name {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	padding: 2rem;

	height: 100%;
	width: 100%;

	font-size: 1.2rem;
	background-color: rgb(var(--clr-primary-dark));
	color: rgb(var(--clr-secondary));

	transition: 0.2s;
}

.events-section
	.event-container
	.single-event-item:hover
	.event-content
	.event-date {
	background-color: rgb(var(--clr-primary-dark));
	color: rgb(var(--clr-secondary));
}

.events-section
	.event-container
	.single-event-item:hover
	.event-content
	.event-name {
	background-color: rgb(var(--clr-secondary));
	color: rgb(var(--clr-primary-dark));
}

.events-section .more-events {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 200px;
	height: 60px;

	text-transform: uppercase;

	margin: 70px auto;

	color: rgb(var(--clr-primary-bright));
	text-decoration: none;
	font-family: "Gilroy-Bold", sans-serif;

	cursor: pointer;

	background: linear-gradient(
		rgb(var(--clr-secondary-bright)),
		rgb(var(--clr-secondary))
	);

	border: 2px solid rgb(var(--clr-secondary));

	transition: 0.2s;
}

.events-section .more-events:hover,
.events-section .more-events:focus {
	color: rgb(var(--clr-secondary-bright));
	background: transparent;
}

.events-section .more-events span {
	position: relative;
}

.events-section .more-events span::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: currentColor;
	transition: 0.2s;
	transform: scaleX(0);
}

.events-section .more-events:hover span::after,
.events-section .more-events:focus span::after {
	transform: scaleX(1);
}

@media only screen and (max-width: 720px) {
	.events-section .event-container {
		flex-wrap: wrap;
		margin: 4.5rem 0;
	}

	.events-section .sec-title .sub-title {
		font-size: 1rem;
	}

	.events-section .sec-title .sub-title::before,
	.events-section .sec-title .sub-title::after {
		display: none;
	}

	.events-section .sec-title h2 {
		font-size: 3rem;
	}
}
