@import url("../root.css");

@import url("../loader.css");
@import url("../scrollbar.css");
@import url("../header.css");
@import url("../headings.css");

.about-section {
	background: #000;

	overflow: hidden;

	padding: 8rem 0;
}
