@import url("../root.css");

@import url("../loader.css");
@import url("../scrollbar.css");
@import url("../header.css");
@import url("../headings.css");

.about-section {
	position: relative;
	background: #000;

	overflow: hidden;

	padding: 8rem 0;
}

.about-section .container {
	width: 100vw;
	height: 100vh;

	background: url("../../images/gallery/TBS_wshop/22.jpg") 100% 100%;
}